---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.resume {
  // font-size: 18px;
}

.resume-body {
  width: calc(100% - 200px);
  float: left;
  margin-left: 100px;
}

.resume-profile {
  width: 150px;
  border-radius: 50px;
}

.resume-projects {
  float: inherit;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.portfolio-single {
  height: 250px;
}

.tech {
  display: flex;
}

.tech-stack {
  font-size: 4em;
  margin-right: 15px;
}

.tech-image {
  width: 90px;
}

.pf-video {
  width: 100%;
}

.category-item {
  width: 90%;
}

.category-count {
  border-radius: 50%;
  background-color: #95a5a6;
  width: 25px;
  height: 25px;
  color: white;
  text-align: center;
  float: right;
}

.related_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */

  height: 300px;

  // padding: 5px;
}

.related_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}

.related_item h2,
p {
  padding: 0px 5px 0px 5px;
}
